<div>
  <div class="text-center">
    <span class="finish-result m-1 text-light">
      {{ gameService.result > 100 ? "Hatalı seçim!" : gameService.result }}
    </span>
    <div class="mt-5">
      &nbsp;
      <div class="mt-5">
        &nbsp;
        <a
          target="_blank"
          href="https://play.google.com/store/apps/developer?id=MeftunTech"
          class="btn btn-primary"
        >
          Diğer Uygulamalarımız
        </a>
      </div>
    </div>
  </div>
  <div class="text-center footer fixed-bottom m-3">
    <div>
      <button
        class="btn btn-success btn-lg w-100"
        [ngClass]="{
          disabled: countdown > 0
        }"
        (click)="gameService.restart()"
      >
        Tekrar oyna!
        <span *ngIf="countdown > 0">({{ countdown }})</span>
      </button>
    </div>
  </div>
</div>
