<div class="modal fade" tabindex="-1" id="modalFaydaliUygulamalar">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <div class="text-dark">Diğer Uygulamalarımız</div>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let uygulama of uygulamalar">
          <a
            target="_blank"
            [href]="
              'https://play.google.com/store/apps/details?id=' + uygulama.id
            "
            class="btn btn-primary mb-2 w-100 fl tal"
          >
            <div class="p-1">
              <img
                [src]="uygulama.re"
                width="64"
                onerror="this.style.display='none'"
              />
            </div>
            <div class="p-1">
              {{ uygulama.ad }}
              <div class="ac">{{ uygulama.ac }}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Kapat
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    (click)="modalFaydaliUygulamalar.show()"
  >
    Diğer Uygulamalarımız
  </button>
</div>
